<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CCZU-iCal{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-v3.3.7/css/bootstrap.min.css">
</head>

<body background="/static/background.png">
    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="/static/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/page.js"></script>
</body>
<footer class="footer navbar-fixed-bottom ">
    <div class="container" style="text-align:center;">
        <p>
            Copyright © 2019 TR版权所有
        </p>
    </div>
</footer>

</html>