body { 
        background: url(./background.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.main {
    display: table;
    height: 100%;
}
.row-centered {
    display: table-cell;
    vertical-align: middle;
}
.col-centered {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}