<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>CCZU-iCal</title>
</head>

<body>
    <h1>CCZU课表导出工具</h1>
    <form action="" method="POST">
        <label for="username">学号</label>
        <input type="text" id="username" name="username">
        <br>
        <label form="password">密码</label>
        <input type="password" id="passwd" name="password">
        <br>
        <select id="year" name="year">
            <option value="2019" selected="selected">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
        </select>
        <label for="year">年</label>
        <select id="month" name="month">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <label for="month">月</label>
        <select id="day" name="day">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <label for="day">日</label>
        <br>
        <label for="reminder">课前提醒时间</label>
        <select id="reminder" name="reminder">
            <option value="0">不提醒</option>
            <option value="1">课前10分钟提醒</option>
            <option value="2">课前30分钟提醒</option>
            <option value="3">课前1小时提醒</option>
            <option value="4">课前2小时提醒</option>
            <option value="5">课前1天提醒</option>
        </select>
        <br>
        <button type="submit">登陆</button>
    </form>
</body>

<footer>
    <p>
        Copyright © 2019<br>
        TR版权所有
    </p>
</footer>